@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: 'Jim Nightshade',Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 2.6rem;
    background-color: black;
    color: rgb(185, 149, 94);
    text-align: center;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.fadeIn {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  
.fadeIn2 {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }